@model List<Attendance>
@{
	int count = 0;
	IEnumerable<IGrouping<DateTime, Attendance>> groupedDate = Model.OrderBy(at => at.Date).GroupBy(at => at.Date);
	List<DateTime> dates = new();
}
<div class="row mb-3">
	<div class="col-6">
		<h1 class="h3">Attendance</h1>
	</div>
	<div class="col-6 d-flex justify-content-end">
		<a asp-action="create" asp-controller="attendance" asp-route-id="@ViewBag.Id" class="btn btn-primary">Mark attendance</a>
	</div>
</div>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Full name</th>
				@foreach (IGrouping<DateTime, Attendance> item in groupedDate)
				{
					dates.Add(item.Key);
					<th scope="col">@item.Key.ToString("dd.MM.yy") <a class="btn-delete" asp-action="delete" asp-controller="attendance" asp-route-id="@Model.FirstOrDefault(att => att.Date == item.Key).Id"><i style="font-size: 10px;" class="text-danger fa-solid fa-x align-text-top"></i></a></th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (IGrouping<AppUser, Attendance> query in Model.GroupBy(at => at.User))
			{
				Attendance item = Model.Find(at => at.User == query.Key);
				count++;
				<tr>
					<th scope="row">@count</th>
					<td>@item.User.FirstName @item.User.LastName [@item.User.UserName]</td>
					@foreach (DateTime date in dates)
					{
						Attendance attendance = Model.Find(at => at.User == query.Key && at.Date == date);
						@if (attendance is null)
						{
							<td><span class="badge bg-secondary">None</span></td>
						}
						else
						{
							<td>
								<a class="btn-updateatt" asp-action="update" asp-controller="attendance" asp-route-id="@attendance.Id" data-bs-toggle="modal" data-bs-target="#updateAttModal">
									@if (attendance.Mark == 0)
									{
										<span class="badge bg-danger">Absent</span>
									}
									else if (attendance.Mark == 1)
									{
										<span class="badge bg-success">Participate</span>
									}
									else
									{
										<span class="badge bg-warning">Pleased</span>
									}
								</a>
							</td>
						}
					}
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="modal fade" id="updateAttModal" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div id="updateCard" class="modal-body m-3">
				
			</div>
		</div>
	</div>
</div>